@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
  margin-top: -2rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

:root {
  /* fonts */
  --prompt: 'Prompt', sans-serif;
  --ubuntu: 'Ubuntu', sans-serif;
  --sans-pro: 'Source Sans Pro', sans-serif;

  /* neutrals */
  --black: black;
  --white: white;
  --off-white: rgb(245, 245, 245);

  /* purples */
  --dark-purple: rgb(68, 9, 204);
  --dark-purple-50-opacity: rgba(51, 8, 150, 0.7);
  --medium-purple: rgb(202, 180, 253);

  /* blues */
  --sea-blue: rgb(22, 239, 255);
  --blue: #2476c4;

  /* transition */
 --theme-transition: background-color .4s ease-in-out, color .4s ease-in-out;

  /* shadows */
  --black-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.425);
  --light-shadow: 0 4px 8px 1px var(--black);
}

.home-grid-wrapper {
  font-family: var(--ubuntu);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
}

/* WelcomeMessage.js */
.welcome-message-wrapper {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  color: var(--blue);
  font-size: 1.5rem;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--blue);
  width: 75%;
}

.welcome-description {
  font-family: var(--sans-pro);
  margin-top: -.25rem;
  color: var(--blue);
  font-size: 1.1rem;
}

/* DisplaySelections.js */
.display-selection-wrapper {
  display: flex;
  flex-direction: column;
}

.display-selection-title {
  color: var(--dark-purple-50-opacity);
  font-size: 1.5rem;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--dark-purple-50-opacity);
  width: 33%;
}

.display-selection-description {
  font-family: var(--sans-pro);
  margin-top: -.25rem;
  color: var(--dark-purple-50-opacity);
  font-size: 1.1rem;
}

.display-selection-time {
  color: var(--dark-purple-50-opacity);
  font-size: 1.5rem;
  padding-top: 8px;
  border-top: 1px solid var(--dark-purple-50-opacity);
  width: 33%;
}