.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal {
    position: relative;
    z-index: 100;
    width: 90%;
    max-width: 600px;
    max-height: 100%;
    margin: 0 auto;
  }
  
  .modal-close {
    position: absolute;
    top: 2px;
    right: 8px;
    font-weight: bold;
    font-size: 2.5rem;
    border: 0;
    -webkit-appearance: none;
    background: none;
    color: lightgray;
    cursor: pointer;
    outline: none;
  }

  .modal-close:hover {
    color: var(--blue);
  }
  
  .modal-body {
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 2px;
    background-color: white;
  }

/* Modal Gif Styles */
.modal-gifs-gif {
  border-radius: 2px;
  width: 100%;
}

.modal-gif-title {
  font-family: var(--sans-pro);
  color: var(--blue);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.modal-gif-text {
  font-family: var(--sans-pro);
  color: var(--blue);
  font-size: 1.1rem;
  margin-top: 1rem;
}

/* Overlay Transitions */
.modal-transition-enter .overlay {
    opacity: 0;
  }
  
  .modal-transition-enter-active .overlay {
    opacity: 1;
    transition: opacity 200ms;
  }
  
  .modal-transition-exit-active .overlay {
    opacity: 1;
  }
  
  .modal-transition-exit-active .overlay {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  /* Modal Transitions */
  
  .modal-transition-enter .modal {
    opacity: 0;
    transform: scale(0.95) translateY(-30px);
  }
  
  .modal-transition-enter-active .modal {
    opacity: 1;
    transform: translateX(0) translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  
  .modal-transition-exit .modal {
    opacity: 1;
  }
  
  .modal-transition-exit-active .modal {
    opacity: 0;
    transform: scale(0.95) translateY(-30px);
    transition: opacity 200ms, transform 200ms;
  }
  
  