/* select exercise number grid */
.select-number-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    padding: .5rem;
}

.select-button {
    cursor: pointer;
    height: 32px;
    font-size: 1.2rem;
    color: var(--dark-purple);
    background-color: var(--white);
    border: 2px solid var(--dark-purple-50-opacity);
    border-radius: 5px;
    outline: none;
}

.select-button:hover {
    background-color: var(--medium-purple);
    color: var(--white);
}

.selected-button {   
    cursor: pointer;
    height: 32px;
    font-size: 1.2rem;
    background-color: var(--dark-purple);
    color: var(--white);
    border: 2px solid var(--dark-purple);
    border-radius: 5px;
    outline: none;
}

/* select exercise time grid */
.select-time-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: .5rem;
}