@media only screen and (max-width: 800px) {
    .App {
        margin: -1rem
    }

    .top-nav {
        display: none;
    }

    .sidenav {
        display: block;
    }

    .sidenav-hamburger-wrapper {
        display: flex;
    }

    .dropdown .dropbtn {
        color: var(--white);
        white-space: nowrap;
        font-weight: 400;
    }

    .top-nav a:hover, .dropdown:hover .dropbtn {
        background-color: var(--medium-purple);
    }

    .dropdown-content {
        border: solid 2px var(--medium-purple);;
    }

    .selected-button {
        background-color: var(--medium-purple);
    }

    .index {
        border-left: 2px solid var(--white);
        margin-left: -1.25rem;
        margin-top: 5rem;
    }

    .home-grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 1rem;
    }

    .welcome-title {
        width: 100%;
    }

    .welcome-description {
        width: 100%;
    }

    .display-selection-title {
        width: 100%;
    }

    .display-selection-description {
        width: 100%;
    }

    .display-selection-time {
        width: 100%;
    }
    
}

@media only screen and (min-width: 800px) {
    .top-nav {
        display: block;
    }

    .sidenav {
        display: none;
    }

    .sidenav-hamburger-wrapper {
        display: none;
    }
}