.sidenav {
    font-family: var(--prompt);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(30, 2, 83);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidenav-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
  
.sidenav a {
  white-space: nowrap;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.sidenav-hamburger-wrapper {
  font-family: var(--prompt);
  display: flex;
  border-bottom: 2px solid var(--dark-purple);
}

.hamburger {
  margin-left: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 30px;
  padding-bottom: 7px;
  color: var(--dark-purple);
}

.sidenav-title {
  position: fixed;
  margin-top: 30px;
  margin-left: 4rem;
  color: var(--purple-pink);
}